body {
  font-family: "Inter", sans-serif;
  font-family: "Source Code Pro", monospace;
}

.Main-Body {
  background-color: #f5f7fb;
  max-width: 55rem;
  margin: 5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Question {
  color: #293264;
}

.Answers {
  color: #293264;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Answers-Btn {
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  margin: 1rem;
}

.Check-Answer {
  background-color: #4D5B9E;
  color: white;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 1rem;
}
