:root {
  --background-light: #f5f5f5;
  --text-color-light: #333;
  --background-dark: #333;
  --text-color-dark: #f5f5f5;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

.navbar-container {
  background-color: var(--background-light);
  padding: 0.5rem 1.5rem;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  list-style: none;
  font-size: 1.2rem;
  border-bottom: solid blue 0.11rem;
}

.navbar-item {
  padding: 0.5rem;
  list-style: none;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.navbar-item1 {
  grid-column: 2/5;
  column-gap: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-item2 {
  grid-column: 5/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item3 {
  grid-column: 9/11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item4 {
  grid-column: 10/11;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.active-navbar-item {
  padding: 0.5rem;
  list-style: none;
  color: blue;
  text-decoration: underline 0.125rem;
  font-weight: bolder;
  /* box-shadow: 0 5px 5px #888; */
  /* transform: scale(1.1) translateY(-5px); */
}

.navbar-item :hover {
  color: rgb(13, 13, 53);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
}

.dark-mode .Question {
  color: var(--text-color-dark);
}

.dark-mode .navbar-container {
  background-color: var(--background-dark);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-color-light);
}

.Quiz-Category-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 1rem 0;
  padding: 1rem 0;
}

.Quiz-Category-Container > * {
  margin: 0.25rem;
}

.Quiz-Difficulty-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
  max-width: 25%;
}

.Quiz-Difficulty-Container > * {
  margin: 0.25rem;
}

.active-container-item {
  border-left: 0.2rem solid;
  border-right: 0.2rem solid;
  background-color: #434070;
  padding: 1rem;
}

.inactive-container-item {
  border: none;
  padding: 1rem;
}

.Quiz-info {
  text-align: left;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
  color: blue;
  font-weight: bolder;
  flex-direction: column;
}

.Main-Body {
  margin: 2rem 3rem;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  min-height: 100vh;
}

.Main-Quiz > h1 {
  text-align: center;
}

.Explore-Button {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.Explore-Button :hover {
  color: blue;
}

.Explore-Button > button {
  padding: 0.7rem 2rem;
  margin: 1rem;
  border-radius: 2rem;
  text-decoration-line: none;
}

.homepage > h1 {
  text-align: center;
  padding: 3rem 0 10rem 0;
  color: yellow;
  background-image: url("../src/assets/quiz.jpeg");
}

.homepage {
  text-align: justify;
}

.Start-Btn {
  background-color: #4d5b9e;
  color: white;
  margin: 3rem auto 0.5rem auto;
  padding: 0.8rem;
  border-radius: 1rem;
  text-decoration: none;
}

.Question {
  color: #293264;
  font-size: 1.3rem;
  font-weight: bold;
}

.Answers {
  color: #293264;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid #dbdef0;
  padding-bottom: 1rem;
}

.Check-Answer {
  background-color: #4d5b9e;
  color: white;
  margin: 3rem auto 0.5rem auto;
  padding: 0.8rem 4rem;
  border-radius: 1rem;
  display: flex;
  justify-items: auto;
}

.Results {
  margin: 0 auto;
}

.radio-button {
  display: inline-block;
  margin: 0.625rem;
}

.radio-input {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  border-radius: 1rem;
  cursor: pointer;
}

.radio-input:checked + .radio-label {
  background-color: #6f79aa;
}

.correct .radio-label {
  background-color: #94d7a2 !important;
}

.incorrect .radio-label {
  background-color: #f08888 !important;
}

.footer-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}

.footer-container > h2 {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  list-style: none;
}

.footer-contact {
  display: flex;
  justify-content: space-around;
}

.footer-contact > a {
  padding: 0 1.5rem;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
}

.footer-copyright > h2 {
  padding: 0 1.5rem;
}

.home-image {
  width: 3rem;
  height: 3rem;
  list-style: none;
}

@media (max-width: 768px) {
  :root {
    --background-light: #f5f5f5;
    --text-color-light: #333;
    --background-dark: #333;
    --text-color-dark: #f5f5f5;
  }

  body {
    font-family: "Inter", sans-serif;
    font-family: "Source Code Pro", monospace;
    margin: 0;
  }

  .Main-Body {
    margin: 0 0.75rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
  }

  .Main-Quiz > h1 {
    text-align: center;
  }

  .homepage > h1 {
    text-align: center;
    padding: 3rem 0 10rem 0;
    color: yellow;
    background-image: url("../src/assets/quiz.jpeg");
  }

  .homepage {
    text-align: justify;
  }

  .Question {
    font-weight: bold;
    color: #293264;
  }

  .Quiz-Category-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .Quiz-Category-Container > * {
    margin: 0.25rem;
  }

  .Quiz-Difficulty-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 0;
    max-width: 75%;
  }

  .Quiz-Difficulty-Container > * {
    margin: 0.25rem;
  }
  .Answers {
    color: #293264;
    display: block;
    grid-auto-flow: row;
    border-bottom: solid #dbdef0;
    padding-bottom: 1rem;
  }

  .Check-Answer {
    background-color: #4d5b9e;
    color: white;
    margin: 3rem auto 0.5rem auto;
    padding: 0.8rem;
    border-radius: 1rem;
    display: flex;
    justify-items: auto;
  }

  .Results {
    margin: 0 auto;
    font-size: small;
  }

  .radio-button {
    display: inline-block;
    /* margin: 0.625rem; */
  }

  /* .radio-input {
    display: none;
  } */

  /* .radio-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    border-radius: 1rem;
    cursor: pointer;
  } */

  .radio-input:checked + .radio-label {
    background-color: #6f79aa;
  }

  .correct .radio-label {
    background-color: #94d7a2 !important;
  }

  .incorrect .radio-label {
    background-color: #f08888 !important;
  }

  .navbar-container {
    background-color: var(--background-light);
    padding: 0.5rem 1.5rem;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    list-style: none;
    font-size: 1.2rem;
    border-bottom: solid blue 0.11rem;
    font-size: 1.2rem;
  }

  .navbar-item {
    padding: 0.5rem;
    list-style: none;
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }

  .navbar-item1 {
    grid-column: 2/5;
    column-gap: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar-item2 {
    grid-column: 5/9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-item3 {
    grid-column: 9/11;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-item4 {
    grid-column: 10/11;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .active-navbar-item {
    padding: 0.5rem;
    list-style: none;
    color: blue;
    text-decoration: underline 0.125rem;
    font-weight: bolder;
    /* box-shadow: 0 5px 5px #888; */
    /* transform: scale(1.1) translateY(-5px); */
  }

  .navbar-item :hover {
    color: rgb(13, 13, 53);
  }

  .footer-container {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
  }

  

  .footer-contact {
    display: flex;
    justify-content: space-around;
  }

  .footer-contact > a {
    padding: 0 0.25rem;
  }

  .footer-copyright {
    display: flex;
    justify-content: space-around;
  }

  .footer-copyright > h2 {
    padding: 0 0.25rem;
  }

  .home-image {
    width: 3rem;
    height: 3rem;
    list-style: none;
  }
}
