:root {
  --background-light: #f5f5f5;
  --text-color-light: #333;
  --background-dark: #333;
  --text-color-dark: #f5f5f5;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Source Code Pro", monospace;
}

.navbar-container {
  background-color: #6e99f0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
}

.navbar-item {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  list-style: none;
}

.active-navbar-item {
  padding: 0.5rem;
  list-style: none;
  color: white;
  box-shadow: 0 5px 5px #888;
  background-color: #312170;
  transform: scale(1.1) translateY(-5px);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-color-light);
}

.Main-Body {
  margin: 1rem 3rem;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}

.Main-Quiz > h1 {
  text-align: center;
}

.homepage > h1 {
  text-align: center;
  padding: 3rem 0 10rem 0;
  color: yellow;
  background-image: url("../src/components/assets/quiz.jpeg");
}

.homepage {
  text-align: justify;
}

.Start-Btn {
  background-color: #4d5b9e;
  color: white;
  margin: 3rem auto 0.5rem auto;
  padding: 0.8rem;
  border-radius: 1rem;
  text-decoration: none;
}

.Question {
  color: #293264;
  font-size: 1.3rem;
  font-weight: bold;
}

.Answers {
  color: #293264;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid #dbdef0;
  padding-bottom: 1rem;
}

.Check-Answer {
  background-color: #4d5b9e;
  color: white;
  margin: 3rem auto 0.5rem auto;
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  justify-items: auto;
}

.Results {
  margin: 0 auto;
}

.radio-button {
  display: inline-block;
  margin: 0.625rem;
}

.radio-input {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #e2e2e2;
  border: 1px solid #ccc;
  border-radius: 1rem;
  cursor: pointer;
}

.radio-input:checked + .radio-label {
  background-color: #6f79aa;
}

.correct .radio-label {
  background-color: #94d7a2 !important;
}

.incorrect .radio-label {
  background-color: #f08888 !important;
}

.footer-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: static;
  bottom: 0;
}

.footer-container > h2 {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  list-style: none;
}

.home-image {
  width: 3rem;
  height: 3rem;
  list-style: none;
}

@media (max-width: 768px) {
  body {
    font-family: "Inter", sans-serif;
    font-family: "Source Code Pro", monospace;
  }

  .Main-Body {
    background-color: #f5f7fb;
    margin: 0.25rem 0.75rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
  }

  .Main-Quiz > h1 {
    text-align: center;
  }

  .homepage > h1 {
    text-align: center;
    padding: 3rem 0 10rem 0;
    color: yellow;
    background-image: url("../src/components/assets/quiz.jpeg");
  }

  .homepage {
    text-align: justify;
  }

  .Question {
    font-weight: bold;
    color: #293264;
  }

  .Answers {
    color: #293264;
    display: block;
    grid-auto-flow: row;
    border-bottom: solid #dbdef0;
    padding-bottom: 1rem;
  }

  .Check-Answer {
    background-color: #4d5b9e;
    color: white;
    margin: 3rem auto 0.5rem auto;
    padding: 0.8rem;
    border-radius: 1rem;
    display: flex;
    justify-items: auto;
  }

  .Results {
    margin: 0 auto;
    font-size: small;
  }

  .radio-button {
    display: inline-block;
    /* margin: 0.625rem; */
  }

  /* .radio-input {
    display: none;
  } */

  /* .radio-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #e2e2e2;
    border: 1px solid #ccc;
    border-radius: 1rem;
    cursor: pointer;
  } */

  .radio-input:checked + .radio-label {
    background-color: #6f79aa;
  }

  .correct .radio-label {
    background-color: #94d7a2 !important;
  }

  .incorrect .radio-label {
    background-color: #f08888 !important;
  }

  /* .navbar-container {
    background-color: #082b72;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  } */

  /* .navbar-item {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    list-style: none;
  } */

  .active-navbar-item {
    padding: 0.5rem;
    list-style: none;
    color: white;
    box-shadow: 0 5px 5px #888;
    background-color: #312170;
    transform: scale(1.1) translateY(-5px);
  }

  .footer-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
  }

  .footer-container > h2 {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    list-style: none;
  }

  .home-image {
    width: 3rem;
    height: 3rem;
    list-style: none;
  }
}
